<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Checkerboard</title>
    <style>
        h1{
            color: {{color_one}};
            background-color: {{color_two}};
        }
        .color1{
            background-color: {{color_one}};
        }
        .color2{
            background-color: {{color_two}};
        }
    </style>
</head>
<body>
    <h1>***Checkerboard***</h1>
    <table>
    {% for i in range(0,row): %}
        <tr>
            {% for j in range(0,col) %}
            <td class="color{{ (i+j) %2+1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>